.box {
  height: 500px;
  background-color: black;
  justify-content: center;
  align-items: center; /* Centre verticalement */
  display: flex;

}

.conteneur {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin: 100px;
    padding: 50px;
    gap:10px;

}